.App-button, .App-output, .App-error, .App-input, .App p {
  margin: 1vh;
}

.App-header {
  background-color: #111;
  color: #eee;
  margin: 0;
  top: 0;
  left: 0;
  padding: 1vh;
}

.App-button {
  background-color: #080;
  color: #eee;
  width: min-content;

  padding: 1.5vh;
  border-radius: 1vh;
}

.App-output, .App-error {
  white-space: pre;
  background-color: #ddd;
  font-family: 'Courier New' 'Consolas' sans-serif;
}

.App-error {
  color: #c00;
}
